@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HELLO</h1>
    <p class="lead">Welcome to our coding Bootcamp.</p>
</div>

<div class="row">
    <div class="col-md-5">
        <h2>Info</h2>
        <p>
            In our website you can find all the information you may need about all of our courses, students, trainers etc.
            <br />
            Please enjoy your stay.
        </p>
    </div>
</div>